<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project - My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Link ke CSS -->
</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About Me</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>

    <!-- Projects Section -->
    <div class="projects">
        <h2>My Projects</h2>
        <p>Here are some of the projects I've worked on:</p>

        <!-- Example Project 1 -->
        <div class="project">
            <h3>Project 1: Making NPM Tag</h3>
            <p>At my very first college, we had to create our own ID tag with our student ID number.</p>
            <img src="{{ url_for('static', filename='images/npmtag1.jpg') }}" alt="Project 1 Image">
            <img src="{{ url_for('static', filename='images/npmtag2.jpg') }}" alt="Project 1 2 Image">
        </div>

        <!-- Example Project 2 -->
        <div class="project">
            <h3>Project 2: Home Security</h3>
            <p>Home security is a prototype tool for detecting burglars using an Arduino Uno R3 with password pin. </p>
            <p>Klik link berikut untuk mengetahui project kami secara detail:<a href="https://drive.google.com/file/d/1msxK3Z1dLG4NFK-mxftfD1ieXDe0gu6c/view?usp=drive_link" target="_blank">Link Project 2</a></p>
            <img src="{{ url_for('static', filename='images/tubes1.jpg') }}" alt="Project 2 Image">
        </div>

    </div>

</body>
</html>
